<!DOCTYPE html>
<html lang="pt">

<head>
	<title>Eliper</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Eletronic Health Record" />
	<meta name="author" content="Eliper" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap" rel="stylesheet">
	<style>
		body {
			margin: 0;
			padding: 0;
			width: 100vw;
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: Nunito;
		}

		table {
			border-collapse: collapse;
			padding: 40px 30px 40px 30px;
			width: 600px;
			text-align: center;
		}

		p {
			font-weight: bold;
		}

		#header>td {
			padding: 20px 0 10px 0;
		}

		#header>h1 {
			font-weight: bold;
		}

		#main>td {
			background: rgb(67, 212, 255);
			background: linear-gradient(90deg, rgba(67, 212, 255, 1) 0%, rgba(56, 171, 253, 1) 35%, rgba(41, 116, 250, 1) 100%);
		}

		#main>* {
			color: #FFF
		}

		#main>td>p {
			font-size: 18px;
		}

		#footer>td {
			padding: 10px 0px 10px 0px;
			text-align: center;
			background-color: #d3d3d3;
		}

		#footer>td>p {
			margin-bottom: .25rem;

		}
	</style>
</head>

<body>
	<table cellpadding="0" cellspacing="0">
		<tr id="header">
			<td>
				<h1>Eliper</h1>
				<p>Redefir Senha</p>
			</td>
		</tr>
		<tr id="main">
			<td>
				<h2><strong>Olá, {{name}}</strong></h2>

				<p>Informe o codigo para redefinir a sua senha:</p>
				<p>
					<strong>{{code}}</strong>
				</p>

			</td>
		</tr>
		<tr id="footer">
			<td>
				<p>&copy; 2021 Eliper. Todos os direitos reservados.</p>
			</td>
		</tr>
	</table>
</body>
</body>

</html>