<!DOCTYPE html>
<html lang="pt">

<head>
	<title>EHR</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="Eletronic Health Record" />
	<meta name="author" content="EHR" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;800&display=swap" rel="stylesheet">
	<style>
		body {
			margin: 0;
			padding: 0;
			width: 100vw;
			height: 100vh;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-family: Nunito;

		}

		.container {
			width: 600px;
			height: 400px;
			margin-left: 30px;
		}

		.container> :not(:first-child) {
			margin-top: 100px;
		}

		header p {
			font-size: 25px;

		}

		main p {
			font-size: 20px;

		}

		footer p {
			font-weight: bold;
		}
	</style>
</head>

<body>
	<div class="container">
		<header>
			<p>Olá <strong>{{name}}</strong>, </p>
		</header>

		<main>
			<p>Informe esse códgo para redefinir a sua senha: <strong>{{code}}</strong></p>
		</main>

		<footer>
			<p> &copy; 2021 EHR. Todos os direitos reservados.</p>
		</footer>
	</div>



</body>

</html>